@model PaginatedList<Aafeben.Models.PublicationModel>

@{
    
    Layout ="~/Views/Shared/Dashboard/_DashboardLayout.cshtml";
    ViewData["Title"] = "Liste des Publications";
    string link = "/fr/administrateurs/publications";
    int j = 1;
}

<section class="d-flex flex-column gap-3 shadow rounded-2 p-3">

    <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center">

        <h3>@ViewData["Title"]</h3>

        <p>
            <a class="btn btn-primary" href="/fr/administrateurs/publications/nouvelle">
                <i class="bi bi-layout-sidebar me-2"></i>
                Nouvelle
            </a>
        </p>
    </div>

    <form asp-action="Index" method="get" class="d-flex col-lg-8" role="search">
        <input class="form-control rounded-0" type="search" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Titre, Date, Autheurs" aria-label="Search" required/>
        <button class="btn btn-outline-primary rounded-0" type="submit">Recherche</button>
    </form>

    <aside class="table-responsive">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Titre
                    </th>
                    <th>
                        Jour de Publications
                    </th>
                    <th>
                        langue
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>@((j++) + (Model.PageIndex - 1)*30 )</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        <div class="btn-group position-relative">
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                options
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end position-fixed">
                                <a class="dropdown-item" href="@link/modifier/@item.Id">
                                    <i class="bi bi-pencil-square me-2"></i> Modifier
                                </a>
                                <a class="dropdown-item" href="@link/supprimer/@item.Id">
                                    <i class="bi bi-trash3 me-2"></i> Supprimer
                                </a>
                            </ul>
                        </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>

    </aside>

    <partial name="~/Views/Shared/Dashboard/_Pagination.cshtml" />

</section>