@model Aafeben.Models.BlogPostModel

@{
    ViewData["Title"] = "Blog";
    ViewData["description"] = Model.Title;
}

<main style="max-width: 968px;" class="py-4 mx-auto lh-2 project-page">

    

    <section class="p-4 content-wrapper">
        <h1 class="my-1 text-capitalize">@Html.DisplayFor(model => model.Title)</h1>
        <p class="lead">@Html.DisplayFor(model => model.ShortDescription)</p>
        <p>@Localizer["on"] @Model.PublishedDate.ToLongDateString()</p>
        <hr/>
        <img height="auto" class="bg-dark mmg my-5" src="/images/blogs/@(Model.FeaturedImageUrl ?? "placeholder.png")" alt="MO">
        @Html.Raw(Model.Content)
    </section>

</main>

<section style="max-width: 968px;" class="mx-auto">

    <hr class="border-success" />

    <a href="/@Model.Language/blogs"  class="btn" id="go-back">
        <i class="bi bi-chevron-left small"></i> 
        @Localizer["back"] 
    </a>

</section>



<style>
    .mmg {
        width: 100%;
        height: max(420px,20vh);
    }
</style>