@{
    ViewData["Title"] = @Localizer["title"];
    ViewData["Description"] = @Localizer["description"];
    string lang = CultureInfo.CurrentCulture.Name.ToString();
    string gre = lang =="en" ? "/en/granary": "/fr/le-grenier";
    string proj = lang =="en" ? "/en/projets": "/fr/projects";
    string opp = lang =="en" ? "/en/opportunities": "/fr/opportunités";
}

<main style="max-width: 1080px;"  class="container mx-auto p-3">

    <section data-observer="o" class="py-4 mx-auto">

        

        <blockquote class="d-flex flex-wap text-justify">

            <div class="col-md-3 me-3">
                <img width="100%" class="me-4" src="/images/website/director.jpg" alt="directrice" />
                <footer style="font-size: smaller; float: left;" class="text-sm text-end pt-2">
                    @Localizer["p1"] <br/> @Localizer["p2"]
                </footer> 
            </div>

            <div>
                <p class="mb-3 ">@Localizer["dear"] </p>
                <p>@Localizer["speech1"]  </p>
                <p>@Localizer["speech2"]  </p>
                <p class="w-100">@Localizer["speech3"]  </p>
                <p class="w-100">@Localizer["speech4"] </p>
                <p class="w-100">@Localizer["speech5"] </p>
            </div>
            
        </blockquote>

        
    </section>

</main>

<style>

    #img-one {
        background: rgba(0, 0, 0, 0.5) url("../../images/website/home-hero.jpg") no-repeat center;
    }

    #img-two {
        background: rgba(0, 0, 0, 0.5) url("../../images/website/home-hero2.jpg") no-repeat center;
    }

    #img-three {
        background: rgba(0, 0, 0, 0.5) url("../../images/website/home-hero3.jpg") no-repeat top;
    }

    #header-hero, 
    #img-one, 
    #img-two, 
    #img-three {
        background-size: cover;
        background-blend-mode: darken;
    }
</style>