@model PaginatedList<Aafeben.Models.MediaModel>

@{
    ViewData["Title"] = @Localizer["title"];
    ViewData["Description"] = @Localizer["desc"];
    string lang = CultureInfo.CurrentCulture.ToString();
    List<MediaModel> images = Model.Where( s => s.Type == "image" ).ToList();
    List<MediaModel> videos = Model.Where( s => s.Type == "video" ).ToList();
    List<MediaModel> audios = Model.Where( s => s.Type == "audio" ).ToList();
}


<h2 class="py-4 text-center">
    @ViewData["Title"]
</h2>

<main class="container mx-auto p-3 row justify-content-start align-items-start g-2">


    <aside class="col-md-4 d-flex flex-column  gap-3">
        <h3>Videos</h3>
        @foreach( var item in videos ) {
            <iframe class="video" src="@item.URI" allowfullscreen loading="lazy"></iframe>
            <p class="card-text"> @( lang == "en" ? item.EnCaption : item.FrCaption )</p>
        }
    </aside>

    
    <aside class="col-md-4 d-flex flex-column gap-3">
        <h3>Images</h3>

        @foreach( var item in images ) {
            <iframe style="background: transparent;" allowfullscreen class="image" src="@item.URI" loading="lazy"  allow="autoplay"></iframe>
            <p> @( lang == "en" ? item.EnCaption : item.FrCaption )</p>
        }

    </aside>

    <aside class="col-md-4 d-flex flex-column gap-2">

        <h3>Audios</h3>

        @foreach( var item in audios ) {
            <p> @( lang == "en" ? item.EnCaption : item.FrCaption )</p>
            <iframe class="audio" src="@item.URI" loading="lazy"></iframe>
        }
    </aside>


</main>

<section class="container mx-auto">
    <partial name="~/Views/Shared/HomeLayout/_Pagination.cshtml" />
</section>

<style>
    .video {
        min-height: 80px;
        height: 360px ;
    }

    .audio {
        height: 56px;
    }

    .image {
        height: 256px;
    }

    #header-hero {
        background: rgba(0, 0, 0, 0.5) url("../../images/website/media-hero.png") no-repeat center;
        background-size: cover;
        background-blend-mode: darken;
    }
</style>