@model IEnumerable<Aafeben.Models.OpportunityModel>

@{
    string lang  = ViewBag.Language ;
    ViewData["Title"] = @Localizer["title"];
    ViewData["Description"] = @Localizer["description"] ;
}

<h1 class="text-center my-4">@ViewData["Title"]</h1>

<main class="container py-3 px-3 d-flex flex-column gap-3">
   
    <p class="lead text-center">  
        @Localizer["why"]
    </p>



    <div class="my-3 p-3 bg-body rounded shadow-lg mx-auto w-100">

        <div data-observer="o" class="d-flex align-items-center p-3 w-100 text-white bg-turq rounded shadow-sm mx-auto">
            <i class="bi bi-people display-3 me-3"></i> 
            <h1 class="text-capitalize mb-0 text-white lh-1">@Model.Count() @Localizer["opp"]</h1>
        </div>

        @foreach (var item in Model)
        {
        <aside data-observer="o-down" class="accord row p-2 border-bottom w-100">

            <h4 class="col-8">@Html.DisplayFor(modelItem => item.Job) </h4> 

            <small class="col-4 text-end">@Html.DisplayFor(modelItem => item.PublishedDate)</small>

            <p class="col-12">@Html.DisplayFor(modelItem => item.JobDescription)</p>

            <label class="btn btn-sm text-start w-fit">
                @(lang =="en" ? "learn more" : "apprendre plus") <input type="radio" class="visually-hidden" name="accordion" id="accordion">
            </label>

            <div  class="col-12 cord-body">
                <h6 class="text-capitalize">@Localizer["requi"]</h6>
                <ul  style="list-style-type:square;">
                    @foreach(var skill in item.JobRequirements.Split(".").ToList() ) {
                        <li>@skill.</li>
                    }
                    <a id="download" class="btn btn-success btn-sm" href="/docs/jobs/@item.Doc" download>
                        @( lang == "en" ? "how to apply here"  : "Découvrez comment postuler ici")
                    </a>
                </ul>
            </div>
            
        </aside>

    }

</main>

<style>
  #header-hero {
    background: rgba(0, 0, 0, 0.5) url("../../images/website/opportunit-hero.jpg") no-repeat center;
    background-size: cover;
    background-blend-mode: darken;
  }

  .slide-show, .slide-show-dots  {
        display: none;
    }

    .accord {
        & .cord-body {
            display: none;
        }

        &:has(input:checked) label {
            display: none;

        }

        &:has(input:checked) .cord-body {
            display: flex;
            flex-direction : column;
        }
    }

</style>