@model Aafeben.Models.ProjectModel

@{
    ViewData["Title"] = "Projet";
    ViewData["description"] = Model.Title;
}

<main style="max-width: 960px;" class="py-4 container mx-auto lh-2 project-page">

    <h1 class="text-capitalize">@Html.DisplayFor(model => model.Title)</h1>

    <section class="row py-2 text-capitalize text-muted border-bottom">
        <p class="col-12">@Localizer["long"] : @Model.Duration <br/>
        <p class="col-md-5">@Localizer["start"]: @Model.StartDate.ToString("MMMM") @Model.StartDate.ToString("yyyy")</p>
        <p class="col-md-5">@Localizer["end"] : @Model.EndDate.ToString("MMMM") @Model.StartDate.ToString("yyyy")</p>
    </section>

    <img class="bg-dark mmg my-3" src="/images/projets/@(Model.FeaturedImageUrl ?? "placeholder.png")" alt="MO">

    <section class="py-4 content-wrapper">
        @Html.Raw(Model.Content)
    </section>

    <a href="/@Model.Language/projets" class="btn">
        <i class="bi bi-chevron-left small"></i> 
        @Localizer["back"] 
    </a>

</main>

<style>
    .mmg {
        width: 100%;
        height: max(420px,20vh);
    }

    #header-hero {
        background: rgba(0, 0, 0, 0.7) url("../../images/website/about-1.jpg") no-repeat center;
        background-size: cover;
        background-blend-mode: darken;
    }
</style>