@model Aafeben.Models.PublicationModel

@{
    ViewData["Title"] = "Publication";
    ViewData["Description"] = Model.Title;
}

<main style="max-width: 960px;" class="py-4 container mx-auto lh-2 project-page">

    <section class="d-flex flex-wrap gap-3 align-items-center justify-content-between my-3 text-capitalize small text-muted border-bottom pb-3">

        <div>
            <h1 class="my-3 text-capitalize">@Html.DisplayFor(model => model.Title)</h1>
             <span>@Localizer["when"] : @Model.PublishedDate.ToLongDateString()</span>
        </div>

        <a id="download" class="btn btn-success btn-sm" href="/docs/publications/@Model.Content" download>
            <i class="bi bi-file-earmark-pdf-fill me-1"></i>
            @Localizer["download"]
        </a>
    </section>

    <section class="py-4 overflow-x-auto content-wrapper">
      <embed style="overflow:hidden; min-height: 100vh;"  src="/docs/publications/@Model.Content" width="100%" type="application/pdf">
    </section>

    
    <a class="btn" id="go-back">
        <i class="bi bi-chevron-left small"></i> 
        @Localizer["back"] 
    </a>
</main>

<style>
    #header-hero {
        background: rgba(0, 0, 0, 0.5) url("../../images/website/publications-hero.jpg") no-repeat center;
        background-size: cover;
        background-blend-mode: darken;
    }

    .slide-show, .slide-show-dots  {
        display: none;
    }
    
</style>