@model IEnumerable<Aafeben.Models.OpportunityModel>

@{
    Layout ="~/Views/Shared/Dashboard/_DashboardLayout.cshtml";
    ViewData["Title"] = "Liste des Opportunites";
    int j = 1;
}



<section class="d-flex flex-column gap-3 shadow rounded-2 p-3 ">

    <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center">
        <h3>@ViewData["title"]</h3>
        <p>
            <a class="btn btn-primary" asp-action="Create">
                <i class="bi bi-person-add"></i>
                Ajouter
            </a>
        </p>
    </div>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        L'opportunité
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Langue
                    </th>
                    <th>
                        Date de Publication
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>@(j++)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                options
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end position-fixed">
                                <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">
                                <i class="bi bi-pencil-square me-2"></i> Modifier</a> 
                                <a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="bi bi-trash3 me-2"></i> Supprimer
                                </a>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </div>

</section>
