@model Aafeben.Models.MediaModel

@{
    Layout ="~/Views/Shared/Dashboard/_DashboardLayout.cshtml";
    ViewData["Title"] = "Delete";
}

<h3 class="alert alert-warning">
    Etes-vous sûr de vouloir supprimer Le Media ?
</h3>


<dl class="row">
    <dt class = "col-sm-2">
        Legende
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.EnCaption) /
        @Html.DisplayFor(model => model.FrCaption)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Type)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Type)
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.URI)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.URI)
    </dd>
    <dt class = "col-sm-2">
        Jour
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PublishedDate)
    </dd>
</dl>
    
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Delete" class="btn btn-danger" /> 
    <a class="btn" id="go-back">Retour A La List</a>
</form>
