@model PaginatedList<Aafeben.Models.MediaModel>

@{
    Layout ="~/Views/Shared/Dashboard/_DashboardLayout.cshtml";
    int j = 1;
    ViewData["Title"] = "Médiathèque";
}

<section class="d-flex flex-column gap-3 shadow rounded-2 p-3 ">

    <div class="d-flex flex-wrap gap-2 justify-content-between align-items-center">

        <h3>Médiathèque</h3>

        <p>
            <a class="btn btn-primary" href="/fr/administrateurs/media/ajouter">
                <i class="bi bi-list-check me-2"></i>
                Ajouter
            </a>
        </p>
    </div>

    <form asp-action="Index" method="get" class="d-flex col-lg-8" role="search">
        <input class="form-control rounded-0" type="search" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Date de publication et légende" aria-label="Search" required/>
        <button class="btn btn-outline-primary rounded-0" type="submit">Recherche</button>
    </form>

    <aside class="table-reponsive">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                        
                    <th> Légende (Englais / Français)</th>
                        
                    <th>Type de Media</th>
                       
                    <th>Date de publication</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>@( (j++) + (Model.PageIndex-1)*30)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EnCaption)  /
                        @Html.DisplayFor(modelItem => item.FrCaption)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishedDate)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                options
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="/fr/administrateurs/media/modifier/@item.Id">
                                    <i class="bi bi-pencil-square me-2"></i> Editer</a> 
                                <a class="dropdown-item" href="/fr/administrateurs/media/supprimer/@item.Id">
                                    <i class="bi bi-trash3 me-2"></i> Supprimer
                                </a>
                            </ul>
                        </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>

    </aside>

    <partial name="~/Views/Shared/Dashboard/_Pagination.cshtml" />

</section>
